/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(https://img.freepik.com/foto-gratis/cubos-blancos-fondo-3d_23-2150505295.jpg?w=826&t=st=1710605197~exp=1710605797~hmac=63aa90483734ec3b681da69f3fa7fb2c1e901ebb8546d5494935ddb261a9db6a);
    background-repeat: repeat;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e24650;
}

a:hover {
    color: #00578b;
}

/* Cabecera */

header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 4px;
}

.logo {
    float: left;
}

.logo img {
    width: 150px;
}

.auth {
    float: right;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.auth a {
    margin-right: 10px;
}

.auth select {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    border-radius: 4px;
}

/* Banner */

.banner {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
    display: flex; /* Asegura que la imagen se muestre como un bloque para evitar márgenes extra */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    
    
}

.banner-img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */

}


/* Secciones */

.secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secciones-contenedor {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Ancho del contenedor */
}

.seccion {
    background-color: #f0f0f0; /* Color de fondo */
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 20px); /* Ajusta el ancho para que ocupen la mitad del contenedor */
    margin-bottom: 20px;
}

.crear-sala {
    background-color: #ffcccc; /* Color de fondo para la sección "Crear sala" */
}

.salas {
    background-color: #ccffcc; /* Color de fondo para la sección "Seleccionar sala" */
}

/* Estilos para los elementos internos, como los títulos */
h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50; /* Color de fondo para el botón */
    color: white;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón sobre el botón */
}


/* Tienda */

.tienda {
    background-color: #fff;
    padding: 20px;
}

.tienda ul {
    list-style: none;
    padding: 0;
}

.tienda ul li {
    float: left;
    width: 33.33%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.tienda ul li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.tienda ul li p {
    margin-top: 5px;
}

.tienda ul li span {
    font-weight: bold;
    color: #0073b7;
}

/* Blog */

.blog {
    background-color: #f7f7f7;
    padding: 20px;
}

.blog article {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* link-canvas*/

.link-canvas {
    text-align: center;
}

.btn-dibujar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita la subrayado del enlace */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.btn-dibujar:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}
